<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="formDataArticle" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="exampleInputPassword1">title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="judul" formControlName="title">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Kota</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="deskripsi" formControlName="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
