
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <button type="button" class="btn btn-success mx-1" routerLink="/article/form">Add Article</button>
    </div>
    <div class="col-md-12 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let data_article of articles; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{data_article.title}}</td>
            <td>{{data_article.description}}</td>
            <td>
              <button type="button" class="btn btn-warning mx-1" routerLink="/article/form/{{data_article.id}}">Edit</button>
              <button type="button" class="btn btn-danger mx-1" (click)="onDelete(data_article.id)">Delete</button>
              <!-- <button type="button" class="btn btn-primary mx-1" routerLink="/article/{{data_article.id}}">Detail</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

